node_modules
.claude
static/_app/immutable

# Supabase
.branches
.temp

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
static/_headers

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.env.keys
.env.local
.env.*.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Editor
/.vscode

# Photos
downloads
